.button-container {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black !important;
  color: white !important;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
  }

  &.google-sign-in {
    background-color: #4285f4 !important;
    color: white !important;

    &:hover {
      background-color: #357ae8 !important;
      border: none !important;
    }
  }

  &.inverted {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;

    &:hover {
      background-color: black !important;
      color: white !important;
      border: none !important;
    }
  }
}